<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jenerator</title>
</head>
<body>
<form>
  <label for="clase">Nombre de la clase:</label><br>
  <input type="text" id="clase" name="clase"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname">
</form>


      "Arqueologo": {
    "Vida_minima": 200,
    "Vida_maxima": 350,
    "Habilidades": [],
    "Temperatura_Base":35.5,
    "Ataques": [{ "Palazo": {
      "Dam":50,
      "Efecto":"ninguno"} }],
    "Imagen":"",
    "Objetos": []
  },
</body>
</html>