cardgenerator/venv/
cardgenerator/.idea/
gdcrud/.idea/
gdcrud/target/
gdcrud/desprolijo.md
wintercome/venv/
wintercome/.idea/
wintercome/src/__pycache__/
jsonmaker/.idea/
jsonmaker/java/WDJSON/target/
jsonmaker/java/WDJSON/public/*
*/venv/
*/.idea/
*/.mvn/
*/target/