<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='css/intro.css')}}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/winter.css')}}" rel="stylesheet" />

</head>
<body>
<p>En este nuevo modo podras jugar con uno de los elegidos, personajes especiales los cuales tienen ventajas y desventajas para jugar nuevamente el juego. Estos personajes pueden volver el juego realmente dificil o realmente facil.</p>
<a href="/winter">Volver a jugar</a>
</body>
</html>